body {
    background: #690101;
    font-family: 'Open Sans', sans-serif;
}

#calculadora {
    width: 213px;
    margin: 200px auto;
    background: #fff;
    border: 3px solid #000;
    border-radius: 15px;
    padding: 0px 15px 15px 15px;    
}

.logo {
    color: #000(0, 0, 0);
    text-align: center;
    font-size: 1rem;
}

#header {
    max-width: 212px;
}

#tela {
    max-width: 212px;
    height: 70px;
    background: rgb(158, 156, 156);
    border: 2px solid #777777;
    border-radius: 5px;
    font-size: 3rem;
    font-weight: 300;
    color: #000;
    padding: 5px 0 0 10px;
}

#botoes {
    grid: 30px;
}

button {
    width: 50px;
    height: 70px;
    border-radius: 5px;
    border: 2px solid rgb(189, 189, 189);
    background: #fff;
    margin-top: 3px;
    font-size: 2rem;
    font-weight: 300;
    color: #000000;
}

.botaoAcao {
    color: #E05D44;
    background: #E7E7E7;
}

.igual {
    color: #fff;
    background: #E05D44;
}